{% load static %}
<html>
<head>
	<title>OKR</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<script src="https://www.gstatic.com/charts/loader.js"></script>
		<script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
      <script type = "text/javascript" src = "https://www.google.com/jsapi"></script>
      <script type = "text/javascript">
         google.charts.load('current', {packages: ['map']});
      </script>
			<script language = "JavaScript">
         function drawChart() {
            var data = google.visualization.arrayToDataTable({{googlechart|safe}});
						var url = 'https://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/';
						var options = {
				        zoomLevel: 6,
				        showTooltip: true,
				        showInfoWindow: true,
				        useMapTypeControl: true,
				        icons: {
				          blue: {
				            normal:   url + 'Map-Marker-Ball-Azure-icon.png',
				            selected: url + 'Map-Marker-Ball-Right-Azure-icon.png'
				          },
				          red: {
				            normal:   url + 'Map-Marker-Ball-Pink-icon.png',
				            selected: url + 'Map-Marker-Ball-Right-Pink-icon.png'
				          }
				        }
      		};

            // Instantiate and draw the chart.
            var chart = new google.visualization.Map(document.getElementById('container'));
            chart.draw(data, options);
         }
         google.charts.setOnLoadCallback(drawChart);
      </script>

				<script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
		      <script type = "text/javascript" src = "https://www.google.com/jsapi"></script>
		      <script type = "text/javascript">
		         google.charts.load('current', {packages: ['map']});
		      </script>
					<script language = "JavaScript">
		         function drawChart() {
		            var data = google.visualization.arrayToDataTable({{googlechart3|safe}});
								var url = 'https://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/';
								var options = {
						        zoomLevel: 6,
						        showTooltip: true,
						        showInfoWindow: true,
						        useMapTypeControl: true,
						        icons: {
						          red: {
						            normal:   url + 'Map-Marker-Ball-Azure-icon.png',
						            selected: url + 'Map-Marker-Ball-Right-Azure-icon.png'
						          },
						          blue: {
						            normal:   url + 'Map-Marker-Ball-Pink-icon.png',
						            selected: url + 'Map-Marker-Ball-Right-Pink-icon.png'
						          }
						        }
		      		};

		            // Instantiate and draw the chart.
		            var chart = new google.visualization.Map(document.getElementById('container3'));
		            chart.draw(data, options);
		         }
		         google.charts.setOnLoadCallback(drawChart);
		 </script>

	</head>
<body>
  {%  include 'accounts/navbar.html' %}
  <div class="container-fluid">
    {% block content %}

	   {% endblock %}
   </div>
	 		<p id="messages">{{error}}</p>
			<h1 style = "text-align:center; color:red ">Port Map</h1>
 <br>
		<h2 style = "text-align: center;color: blue">Port of Los Angeles</h2>
  <br>
  <h3 style = "text-align: center; font-weight: bold"> Crane movement showing Pick and Place events</h3>
	 <div id="container3" style="width: 100%; height: 800px"></div>
 <br><br>



  {%  include 'accounts/footer.html' %}

</body>
</html>
